# .env.example
# Перелічуються всі змінні без реальних значень.
# Це допомагає іншим розробникам налаштувати своє середовище

# Порт, на якому буде працювати сервер
PORT=3000

# URL для підключення до бази даних MongoDB - для БД notes
MONGO_URL=

# Змінна оточення NODE_ENV, яка буде вказувати, у якому середовищі працює застосунок:
# development — режим розробки (показуємо деталі помилки і стек).
# production — продакшн (повертаємо лише загальне повідомлення).
NODE_ENV=development

# Налаштування для Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

